<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidanalyzerindia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OverallCasesActivity"></activity>
        <activity android:name=".StateWiseDeathRateActivity" />
        <activity android:name=".StateWiseRecoveryRateActivity" />
        <activity android:name=".StateWiseRecoveredCasesActivity" />
        <activity android:name=".StateWiseDeceasedCasesActivity" />
        <activity android:name=".StateWiseActiveCasesActivity" />
        <activity android:name=".StateWiseConfirmedCasesActivity" />
        <activity android:name=".StateComparisonActivity" />
        <activity android:name=".AllInOneActivity" />
        <activity android:name=".DeceasedCasesActivity" />
        <activity android:name=".RecoveredCasesActivity" />
        <activity android:name=".ActiveCasesActivity" />
        <activity android:name=".ConfirmedCasesActivity" />
        <activity android:name=".IndiaStatisticsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>