<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidanalyzerindia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ContributingFactorsLiteracyRateActivity"></activity>
        <activity android:name=".ContributingFactorsPopulationActivity" />
        <activity android:name=".ContributingFactorsPollutionActivity" />
        <activity
            android:name=".ContributingFactorsActivity"
            android:label="Contributing Factors" />
        <activity
            android:name=".OverallCasesActivity"
            android:label="Overall Cases" />
        <activity
            android:name=".StateWiseDeathRateActivity"
            android:label="Death Rate" />
        <activity
            android:name=".StateWiseRecoveryRateActivity"
            android:label="Recovery Rate" />
        <activity
            android:name=".StateWiseRecoveredCasesActivity"
            android:label="Recovered Cases" />
        <activity
            android:name=".StateWiseDeceasedCasesActivity"
            android:label="Deceased Cases" />
        <activity
            android:name=".StateWiseActiveCasesActivity"
            android:label="Active Cases" />
        <activity
            android:name=".StateWiseConfirmedCasesActivity"
            android:label="Confirmed Cases" />
        <activity
            android:name=".StateComparisonActivity"
            android:label="State Comparison" />
        <activity
            android:name=".AllInOneActivity"
            android:label="All Cases" />
        <activity
            android:name=".DeceasedCasesActivity"
            android:label="Deceased Cases" />
        <activity
            android:name=".RecoveredCasesActivity"
            android:label="Recovered Cases" />
        <activity
            android:name=".ActiveCasesActivity"
            android:label="Active Cases" />
        <activity
            android:name=".ConfirmedCasesActivity"
            android:label="Confirmed Cases" />
        <activity
            android:name=".IndiaStatisticsActivity"
            android:label="India Statistics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.covidanalyzerindia.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Covid Analyzer India" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>